.room__container {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-grow: 1;
}

.room__title {
	text-transform: capitalize;
}

.room__content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100vw;
}

.room__postList {
	width: 200px;
	margin: 10px 10px 10px auto;
	padding: 15px;
	flex-grow: 0.9;
	border-radius: 20px;
	border: 1px #000 solid;
	height: 70vh;
	overflow: auto;
}

.room__userList {
	width: 200px;
	margin: 10px 10px 10px auto;
	max-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	padding: 15px;
	border: 1px #000 solid;
	border-radius: 20px;
	overflow: auto;
}

.room__btn-add {
	position: absolute;
	bottom: 0;
	right: 0;
	outline: none;
	background: none;
	border: 1px rgb(0, 0, 0) solid;
	height: 40px;
	width: 120px;
	margin: 2rem;
	transition: all 0.3s;
	border-radius: 20px;
	box-shadow: 1px 5px 10px rgb(109, 103, 103);
	font-size: 20px;
	font-weight: 300;
}

.room__btn-add:hover {
	transform: translateY(-2px);
	box-shadow: 2px 10px 20px rgb(150, 143, 143);
}

@media (max-width: 600px) {
	.room__userList {
		display: none;
	}
}
