.header {
	height: 10vh;
	width: 100%;
	background-color: rgb(137, 41, 226);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header--h1 {
	font-size: 36px;
	font-weight: 100;
}
